/* Universal styling */

.post-body {
    display: inline-flex;
    flex-direction: column;
    width: 75%;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: rgb(29, 4, 39);
    margin: 3rem 0;
    z-index: 5;
}

/* Title */

.title {
    font-size: 2rem;
    color: rgb(190, 113, 188);
    text-decoration: none;
    margin-bottom: 1rem;
}

.title:visited {
    color: rgb(228, 180, 226);
}

/* Media */

img, video {
    max-height: 45rem;
    object-fit: contain;
}

/* Metadata */

.post-metadata {
    display: inline-flex;
    margin-top: 1rem;
    padding-top: 0.5rem;
    border-top: 1px solid gray;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.post-metadata * {
    display: inline-flex;
    background-color: rgb(190, 113, 188);
    border-color: transparent;
    text-decoration: none;
    border-radius: 8px;
    padding: 5px 8px;
}

.post-text {
    font-size: 1.2rem;
}

.post-subreddit {
    color: black;
}

.post-subreddit:visited {
    color: rgb(97, 49, 95);
}

.gallery-statement {
    color: rgb(228, 180, 226);
}

.gallery-statement a {
    color: white;
    text-decoration: none;
}

.gallery-statement a:active {
    color:rgb(97, 49, 95);
}

.num-comments {
    display: inline-flex;
    background-color: #7196be;
    border-color: transparent;
    border-radius: 8px;
    padding: 5px 8px;
}

.num-comments:active {
    background-color: #064486;
}

.crosspost-from {
    color:rgb(228, 180, 226);
}

/* Handles comment styles on toggle */

.comments-visible {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comments-hidden {
    display: none;
}

/* Comment styling */

.indiv-comment {
    background-color: #7196be;
    border-radius: 15px;
}

.nested {
    position: relative;
    width: calc(100% - 2.5rem);
    left: 2.5rem;
}

.indiv-comment p {
    padding: 1rem;
}

/* Queries */

@media only screen and (max-width: 1050px) {        /* for tablets */
    img, video {
        max-height: 25rem;
    }
    .title {
        font-size: 1.5rem;
    }
    .post-metadata {
        font-size: 0.8rem;
        text-align: center;
        text-overflow: ellipsis;
    }

    .post-metadata * {
        max-width: 30%;
    }

    .hide-mobile {
        display: none;
    }
}