.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  border-bottom: 1px solid black;
}

.navbar > * {
  padding: 0 2rem;
}

.content-container {
  display: inline-flex;
  flex-direction: row;
}

.feed {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}

.about-the-app {
  display: hidden;
  flex-direction: column;
  align-items: center;
}